* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}
#bgimg {
  height: 100%;
  width: 100%;
}
.images {
  height: 20rem;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 20%;
  bottom: 0;
}
#sub1,
#sub2,
#sub3,
#sub4,
#sub5
{
  height: 5rem;
}